/*
**  CSS Variables
*/

:root {
  --blue: 100, 150, 200;
  --bg: #333;
}

/*
**  Standard
*/

body {
  font-family: "Josefin Sans";
  margin: 0;
  color: #FFF;
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  position: relative;
  width: 100%;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  box-shadow: 0px 0px 4px #333;
  z-index: 5;
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("/images/40k/aquila_gold.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#main-container {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main-container > hr {
  width: 50%;
  opacity: 0.8;
}

.cattitle {
  width: 100%;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 0px 0px 3px #151515;
  text-align: center;
}

#name_result {
  width: 100%;
  text-align: center;
  font-size: 45px;
  font-style: italic;
  text-shadow: 0px 0px 3px #333;
}

/*
**  Options
*/

.top-main {
  width: 100%;
  background-color: #555;
  max-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s;
}

.top-main > p {
  margin: 5px 0;
}

#options-button {
  width: 150px;
  padding: 5px;
  background-color: #555;
  border-radius: 0 0 10px 10px;
  text-align: center;
  user-select: none;
}

#options-button:hover {
  cursor: pointer;
}

/*
**  Generator button
*/

.btn {
  margin: 5px 20px;
  width: 120px;
  padding: 6px;
  font-size: 15px;
  color: var(--bg);
  background-color: rgb(var(--blue));
  border: 2px solid rgb(var(--blue));
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
  font-family: 'Josefin Sans';
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  color: rgb(var(--blue));
  background-color: transparent;
}

/*
**  Generator item wrapper
*/

.gen-item {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
